@use '../../styles/partials/variables' as *;
.main-content{
    display: flex;
    flex-direction: column;
    padding:1rem;
    background-color: transparent;
    width: 60vw;
    &__greeting{
        color: $text-black;
        
    }
    &__date{
        color:$text-grey;
        font-weight:$font-bold;

    }
    &__task-container{
        display: flex;
        flex-direction:column;
    }
    &__task{
    background:$white;
    color:$text-grey;
    font-weight:$font-bold;
    border-radius: 0.3125rem;
    font-size: $font-paragraph;
    margin: 0;
    margin-top:0.5rem;
    &--label,&--time{
        background: transparent;

    }
    &--checkbox{
        border-color: $text-grey;
        border-radius:45%;
        background: transparent;
    }
    }
    &__error--task{
        color:$pink-message;
        font-weight:$font-bold;
        font-size: $font-subheader;
        padding-top:2rem;
        animation: pulseText 6s infinite ease;


    }
    &__select--list{
        color:$active-link;
        font-weight:$font-bold;
        font-size: $font-subheader;
        padding-top:2rem;
        animation: pulseText 6s infinite ease-in-out;
        

    }

}