@use '../../styles/partials/variables' as *;
@use "../../styles/partials/mixins" as *;

.task-completed{
    &__title{
        display: flex;
        flex-direction: column;
        padding-left: 1.5rem;
        font-size: $font-subheader;

    }
    &__none{
        display: flex;
        flex-direction: column;
        padding-left:2rem;
        background: $white;
        border: none;
        color: $text-grey;
        font-weight: $font-bold;
        border-radius: 0.3125rem;
        font-size: $font-paragraph;
        padding: 0.5rem;
        margin:1em;
    }
}