@use '../../styles/variables' as*;

.container{
    display: flex;
    flex-direction: row;
    height: min-content;
    width: 20%;
    border: 0.0625rem solid $text-grey;
    border-radius: 0.3125rem;
    background-color: $white;
    justify-content: space-between;
    margin-top: 1rem;
    // position: relative;
    &__title{
        background-color: transparent;
    }
    &__menu{
        background-color: transparent;
    }

}