@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.login-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 25rem;
  height: 80vh;
  background: $background-container-color;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 0.3125rem;
  gap: 2rem;

  &__header {
    background-color: transparent;
    color: $text-grey;
    font-size: $font-header;
    margin-left: 40%;
  }
  &__password,
  &__label,
  &__user--icon,
  &__password--icon,
  &__user--password,
  &__button {
    background-color: transparent;
  }
  &__user {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding-bottom: 1rem;
    gap: 1.5rem;

    &--name {
      background-color: inherit;
      border: none;
      outline: none;
      width: 18rem;
    }
    &--icon {
      width: 2rem;
    }
    &--items {
      @include name-password-fields;
    }
  }
  &__password {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    gap: 1.5rem;
    &--text {
      background-color: inherit;
      border: none;
      outline: none;
      width: 18rem;
    }
    &--icon {
      width: 2rem;
    }
    &--items {
      @include name-password-fields;
    }
  }
  &__label {
    font-weight: $font-bold;
    color: $text-black;
  }
  &__header {
    display: flex;
  }
  &__form {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    gap: 1rem;
  }
  &__button {
    @include primary-button;
    color: $text-black;
    padding: 0.5rem;
    padding-right: 5rem;
    padding-left: 5rem;
    border-radius: 2rem;
    margin-left: 5rem;
  }
  &__guide {
    font-weight: $font-bold;
    font-size: smaller;
    color: $text-black;
    background-color: transparent;
    margin-left: 5rem;

    &--sign {
      display: flex;
      flex-direction: row;
      background-color: inherit;
      &-up {
        background-color: inherit;
        font-size: smaller;
        font-weight: $font-bold;
        text-decoration: underline;
        color: $active-link;
      }
    }
  }
  &__error {
    background-color: transparent;
    color: $error;
  }
}
