@use '../../styles/partials/variables' as *;


.sidebar{
    width: 30%;
    border-radius: 0.3125rem;
    margin-top: 1rem;
    background: $background-container-color;
    height:90vh;
    &__title{
        display: flex;
        justify-content: center;
        background:$white;
        border:0.0625rem solid $border-grey;
        color:$text-grey;
        font-weight:$font-bold;
        border-radius: 0.3125rem;
        font-size: $font-subheader;
        padding: 1rem;
        margin-right: 1rem;
        margin-left:1rem;
        margin-top:1rem;
         
    }
    &__lists{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        list-style-type: none;
        &--item{
            background-color: transparent;
            text-decoration: none;
        }
        &--button{
            background:$white;
            border:none;
            color:$text-grey;
            font-weight:$font-bold;
            border-radius: 0.3125rem;
            font-size: $font-paragraph;
            padding-right: 1rem;
            padding-left:1rem;
            // margin: 1rem;
            // width:12rem;
            // margin: 0;
            // margin-right: 1rem;
            // margin-left:1rem;
            // width: 100%;
            }
        
        &__no-list{
            background:$white;
            border:none;
            color:$text-grey;
            font-weight:$font-bold;
            border-radius: 0.3125rem;
            font-size: $font-paragraph;
            padding-right: 1rem;
            padding-left:1rem;
            margin: 1rem;
            width:12rem;
            margin: 0;
            margin-right: 1rem;
            margin-left:1rem;
            margin-top:1rem;
            }
        &--count{
            background-color:$background-count-button-color;
            color:$text-grey;
            font-weight:$font-bold;
            border-radius: 0.3125rem;
            font-size: $font-paragraph;
            padding-right: 0.5rem;
            padding-left:0.5rem;
            }
    }
    &__new{
        display: flex;
        // margin-left: 0;
        &--btn{
        background:$background-count-button-color;
        border:none;
        color:$text-black;
        font-weight:$font-bold;
        border-radius:25px;
        font-size: $font-paragraph;
        padding-right: 2rem;
        padding-left:2rem;
        margin:1rem;
        }
    }
    &__create{
        display: flex;
        flex-direction: row;
        background:transparent;
        &--list{
            background-color: transparent;
            &-input{
                background:$white;
                border:none;
                color:$text-grey;
                font-weight:$font-bold;
                border-radius: 0.3125rem;
                font-size: $font-paragraph;
                padding-right: 1rem;
                padding-left:1rem;
                margin: 1rem;
                width:12rem;
                margin: 0;
                margin-right: 1rem;
                margin-left:1rem;
            }
            
            &-btn{
                background: $background-log-button-color;
                color:$white;
                font-weight:$font-bold;
                border-radius: 0.3125rem;
                font-size: $font-paragraph;
                padding-right: 0.5rem;
                padding-left:0.5rem;
                border: none;;
            }

        }
        &--error-message{
            background:transparent;
            padding-right: 0.5rem;
            padding-left:1rem;
            color:$error;

        }
    }
.create__box{
    display: flex;
    flex-direction: column;
    background:transparent;

}


}
