// Breakpoints variables
$breakpoint-tablet: 48rem;
// $breakpoint-desktop: 80rem;

$primary-font:system-ui,'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
$border-grey: #a6a6a6;
$text-grey:#545454;
$white:white;
$bun-grey:#e9e9e9;
$background-log-button-color:linear-gradient(90deg, #5170ff,#ff66c4);
$background-container-color:linear-gradient(90deg, #fff7ad,#ffa9f9,);
$background-count-button-color:linear-gradient(90deg,#a6a6a6,#ffffff);
$background-add-task-button-color:#545454;
$active-link:#8c52ff;
$text-black:black;


$font-bold:600;
$font-regular:400;
$font-header:1.75rem;
$font-subheader:1.3125rem;
$font-paragraph:0.875rem;
