@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.modal-overlay{
    display:flex;
    background: $background-delete-container-color;
    border-radius: 0.3125rem;
    position:relative;
}
.modal-question{
        background: $background-delete-container-color;
        padding: 1.5625rem;
        border-radius: 0.3125rem;
        position: relative;
        max-width: 100%;
        max-height: 100%;
        overflow-y: auto;

    &__confirm{
        background-color: inherit;


    }
    &__sure{
        background-color: inherit;

        
    }
}
.modal-actions{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    gap:0.5rem;
    background-color:transparent;

    &__confirm{
        @include primary-button;

    }
    &__cancel{
        @include secondary-button;

    }

}