$primary-font:system-ui,'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
$border-grey: #a6a6a6;
$text-grey:#545454;
$white:white;
$background-button-color:linear-gradient(90deg, #5170ff,#ff66c4);
$background-container-color:linear-gradient(90deg, #fff7ad,#ffa9f9,);

$font-bold:600;
$font-regular:400;