@use '../../styles/variables';

.greetings{
    width: 30%;
    border-radius: 0.3125rem;
    margin-top: 1rem;
    background: $background-container-color;
    height:90vh;
    &__word{
        background:$white;
        border:0.0625rem solid $border-grey;
        color:$text-grey;
        font-weight:$font-bold;
        border-radius: 0.3125rem;
        font-size: $font-subheader;
        padding: 1rem;
        margin: 1rem;
    }
}